body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  /* Shortcut -> font: size/line-height font-family */
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.button_1{
  width: 100px;
  height: 39px;
  border: 0;
  background-color: #e8491d;
  color: #ffffff;
}

/* Header */
header{
  background: #35424a;
  color: #f4f4f4;
  border-bottom: 3px solid #e8491d;
  padding-top: 30px;
  /*Responsive when change the size*/
  min-height: 70px;
}
#branding{
  display: inline-block;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  display: inline;
  padding: 0 20px 0 20px;
}
header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
  color: #ffffff;
}
header nav{
  float: right;
  margin-top: 10px;
  font-weight: 500;
}
header nav a:hover{
  font-weight: bold;
  color: rgb(206, 206, 206);
}

/* Showcase */
#showcase{
  min-height: 400px;
  background-image: url(https://i.imgur.com/xsKYHsJ.jpg);
  background-position: 0% 45%;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}
#showcase h1{
  font-size: 55px;
  margin: 100px auto 20px;
}
#showcase p{
  color:#ffffff;
  font-size: 20px;
  text-align: center;
  margin: 0px auto;
}

/* Newsletter */
#newsletter{
  background-color: #35424a;
  color: #ffffff;
  padding: 15px;
}
#newsletter h1{
  width: 40%;
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  width: 250px;
  height: 25px;
  padding: 5px;
}

/* Boxes */
#boxes{
  margin-top: 20px;
}
#boxes .box{
  border: 1px solid blue;
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}
#boxes .box img{
  width: 90px;
}